{% extends 'list.html' %}
{% load static %}

{% block columns %}
    <th></th>
    <th>Fecha</th>
    <th>Trampas Registradas</th>
    <th>Última Observación</th>
{% endblock %}

{% block content_list %}
<div class="row mb-3">
    <div class="col-lg-4 col-md-6">
        <label>Seleccionar semana a consultar:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-calendar-week"></i></span>
            </div>
            <input type="week" id="week_filter" class="form-control" value="2026-W29">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" onclick="tblReading.ajax.reload();">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript_list %}
    <script src="{% static 'trap_ica/js/list.js' %}"></script>
{% endblock %}