{% extends 'list.html' %}
{% load static %}

{% block columns %}
    <th></th>
    <th>Fecha</th>
    <th>Bloque</th>
    <th>Trampa Interna</th>
    <th>Observación</th>
{% endblock %}

{% block content_list %}
<div class="row mb-3">
    <div class="col-lg-4">
        <label>Seleccionar semana a consultar:</label>
        <input type="week" id="week_filter" class="form-control" value="2026-W30">
    </div>
    <div class="col-lg-2 d-flex align-items-end">
        <button type="button" class="btn btn-primary" onclick="tblInternal.reload();">
            <i class="fas fa-search"></i> Buscar
        </button>
    </div>
</div>
{% endblock %}

{% block javascript_list %}
    <script src="{% static 'trap_in/js/list.js' %}"></script>
{% endblock %}