{% extends 'list.html' %}
{% load static %}

{% block assets_list %}
    <script src="{% static 'assurance_parameter/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Estado</th>
    <th>Opciones</th>
{% endblock %}

{% block javascript_list %}
    {{ block.super }}
    <div class="modal fade" id="parameterModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="formParameter" autocomplete="off">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="parameterModalTitle">
                            <i class="fas fa-edit mr-2"></i><span>Formulario</span>
                        </h5>
                        <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" id="param_id">
                        <div class="form-group">
                            <label>Nombre del Parámetro <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="param_name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea class="form-control" id="param_description" name="description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="param_is_active" name="is_active" checked>
                                <label class="custom-control-label" for="param_is_active">Parámetro Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary btnSaveParameter">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}