{% extends 'list.html' %}
{% load static %}
{% block assets_list %}
    <script src="{% static 'role/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Rol</th>
    <th>Permisos</th>
    <th>Usuarios</th>
    <th>Opciones</th>
{% endblock %}

{% block javascript_list %}
    <script type="application/javascript">
        var can_change = {% if perms.security.change_role %}true{% else %}false{% endif %};
        var can_delete = {% if perms.security.delete_role %}true{% else %}false{% endif %};
    </script>
{% endblock %}
